<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item mt-5">
      <a
        class="nav-link {{ 'active' if path|length >= 2 and path.split('/')[1]  == 'home' else '' }}"
        aria-current="page"
        href="/order/home"
        >홈</a
      >
    </li>
    <li class="nav-item mt-5">
      <a
        class="nav-link {{ 'active' if path|length >= 3 and path.split('/')[2]  in ('all', 'single', 'group') else '' }}"
        aria-current="page"
        href="/order/recommend/all?page=1"
        >추천 메뉴</a
      >
    </li>
    <li class="nav-item mt-5">
      <a
        class="nav-link {{ 'active' if path|length >= 3 and path.split('/')[2]  == 'set-menu' else '' }}"
        href="/order/recommend/set-menu?page=1"
        >세트 메뉴</a
      >
    </li>
    <li class="nav-item mt-5">
      <a
        class="nav-link {{ 'active' if path|length >= 3 and path.split('/')[2]  == 'single-menu' else '' }}"
        href="/order/recommend/single-menu?page=1"
        >단품</a
      >
    </li>
    <li class="nav-item mt-5">
      <a
        class="nav-link {{ 'active' if path|length >= 3 and path.split('/')[2]  == 'side-menu' else '' }}"
        href="/order/recommend/side-menu?page=1"
        >사이드, 음료</a
      >
    </li>
  </ul>
</div>

{% block navbar %} {% endblock %}
