{% extends "boilerplate.html" %} {% block body %}
<div class="d-flex">
  <div class="container recommendation text-center">
    <h2 class="mt-5">★ 추천 메뉴 ★</h2>
    {% if population and ages|count > 0 and men >= 0 and women >= 0 %}
    <p>인원수: {{ population }}</p>
    {% if men > 0 %}
    <p>남자: {{ men }} 명</p>
    {% endif %} {% if women > 0 %}
    <p>여자: {{ women }} 명</p>
    {% endif %}
    <p>
      나이대: {% for age in ages %} {% if age == 0 %} 0 ~ 10 (세), {% elif age
      == 1 %} 11 ~ 32 (세) {% elif age == 2 %} 33 ~ 60 (세) {% elif age == 3 %}
      60 ~ (세) {% endif %} {% endfor %}
    </p>
    {% else %}
    <p>인식 정보가 존재하지 않습니다.</p>
    {% endif %}
    <a
      href="/order/{{path}}?page={{ page|int - 1 }}"
      style="{{'' if page|int > 1 else 'pointer-events: none; opacity: 0'}}"
    >
      <img
        src="/static/img/left.png"
        style="width: 100px"
        class="rounded float-start page-button my-auto mt-5 justify-content-center"
        alt="..."
      />
    </a>
    <a
      href="/order/{{path}}?page={{ page|int + 1 }}"
      style="{{'' if page|int + 1 < maxPage|int else 'pointer-events: none; opacity: 0'}}"
    >
      <img
        src="/static/img/right.png"
        style="width: 100px"
        class="rounded float-end page-button my-auto mt-5 justify-content-center"
        alt="..."
      />
    </a>
    <div class="row text-center">
      {% for menu in recMenus %}
      <div class="card col-md-4 mx-auto mt-3" style="width: 18rem">
        <img src="/static/img/{{menu.img}}" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <h5 class="card-title">{{menu.name}}</h5>
          <p class="card-text text-bold">₩ {{menu.price}}</p>
          <a href="/order/item/{{menu._id}}" class="btn btn-primary">선택</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <nav aria-label="Page navigation example d-flex">
      <ul class="pagination justify-content-center mt-5">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for i in range(1, maxPage) %}
        <li class="page-item {{ 'active' if page|int == i else ''}}">
          <a class="page-link" href="/order/{{path}}?page={{i}}">{{i}}</a>
        </li>
        {% endfor %}
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
