{% extends "boilerplate.html" %} {% block body %}
<div class="container recommendation text-center">
  <h2 class="mt-5">★ 추천 메뉴 ★</h2>
  <div class="row text-center">
    {% for menu in recMenus %}
    <div class="card col-md-4 mx-auto mt-3" style="width: 18rem">
      <img src="{{menu.img}}" class="card-img-top" alt="..." />
      <div class="card-body text-center">
        <h5 class="card-title">{{menu.name}}</h5>
        <p class="card-text text-bold">₩ {{menu.price}}</p>
        <a href="/order/item/{{menu._id}}" class="btn btn-primary">선택</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
